@model List<myStore.Models.Category> 
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>

<form id="createProduct">
    <div class="form-group">
        <label>Category</label>
        <select class="form-control" name="CategoryID">
            @foreach (var category in Model)
            {
                <option value="@category.ID">@category.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Name</label>
        <input name="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label>Description</label>
        <input name="Description" class="form-control" />
    </div>

    <div class="form-group">
        <label>Price</label>
        <input name="Price" class="form-control" />
    </div>

    <button id="saveBtn" type="button" class="btn btn-primary">Save</button>
   
</form>


<h2>Create Product</h2>

<script>
    $("#saveBtn").click(function () {

        $.ajax({
            type: 'POST',
            url: '/Product/Create',
            data: $("#createProduct").serialize()
        })
            .done(function (response) {
                $("#tableContiner").html(response);
                $(".actionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail");
            });
           
    });

</script>


