
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div id="tableContiner">
        @{

            Html.RenderAction("ProductTable");
            // Html.RenderAction("Create");
        }
    </div>

    <hr />
    <div class="actionContainer">

    </div>
</div>
